.nav-menu {
    position: fixed;
    z-index: 1000;
    background-color: #fbfbfb;
}

.m-close {
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.m-open {
    opacity: .95;
    visibility: visible;
    height: 100%;
}