@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i|Poppins:300,300i,400,400i,500,500i,600,600i");
/* :: 2.0 Import All CSS */
@import url(css/bootstrap.min.css);
@import url(css/jquery.dataTables.min.css);
@import url(css/font-awesome.min.css);
@import url(css/datepicker.min.css);
@import url(css/tree.css);
/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #191919;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Merriweather", serif; }

p {
  font-family: "Poppins", sans-serif;
  color: #595959;
  font-size: 16px;
  line-height: 2;
  font-weight: 400; }

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid transparent;
  color: #191919;
}
ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

/* :: 3.1.0 Spacing */
.mt-15 { margin-top: 15px !important; }

.mt-30 { margin-top: 30px !important; }

.mt-50 { margin-top: 50px !important; }

.mt-70 { margin-top: 70px !important; }

.mt-100 { margin-top: 100px !important; }

.mb-15 { margin-bottom: 15px !important; }

.mb-30 { margin-bottom: 30px !important; }

.mb-50 { margin-bottom: 50px !important; }

.mb-70 { margin-bottom: 70px !important; }

.mb-100 { margin-bottom: 100px !important; }

.ml-15 { margin-left: 15px !important; }

.ml-30 { margin-left: 30px !important; }

.ml-50 { margin-left: 50px !important; }

.mr-15 { margin-right: 15px !important; }

.mr-30 { margin-right: 30px !important; }

.mr-50 { margin-right: 50px !important; }

/* :: 3.2.0 Height */
.height-400 { height: 400px; }

.height-500 { height: 500px; }

.height-600 { height: 600px; }

.height-700 { height: 700px; }

.height-800 { height: 800px; }

.text-violet { color: #af20df !important; }

.text-orange { color: #df5707 !important; }

.text-success_light { color: #76f393; }

.text-info_light { color: #7ce8f9; }

.text-light { color: #96aabb!important; }

.success { color: #04b004; }
.warning { color: #eabc00; }
.danger { color: #ea0000; }

.font-bold { font-weight: bolder!important; }+

.bg_light_blue { background-color: rgba(74, 183, 216, 0.3) !important; }

.bg_red { background-color: rgba(223, 1, 12, 0.3); }

.bg_black { background-color: #212529d6; }

.bg_orange { background-color: rgba(223, 87, 7, 0.3); }

.bg_violet { background-color: rgba(175, 32, 223, 0.3); }

.bg_success_light{ background-color: rgba(118, 243, 147, 0.3); }

.bar_gradient_green {
  background: linear-gradient(180deg, rgba(76, 175, 80, 0), rgba(32, 202, 152, 0.3));
}
.bar_gradient_blue {
  background: linear-gradient(180deg, rgba(76, 175, 80, 0), rgba(74, 183, 216, 0.3));
}
.bar_gradient_orange {
  background: linear-gradient(180deg, rgba(76, 175, 80, 0), rgba(223, 87, 7, 0.3));
}
.bar_gradient_red {
  background: linear-gradient(180deg, rgba(76, 175, 80, 0), rgba(223, 1, 12, 0.3));
}
.bar_gradient_violet {
  background: linear-gradient(180deg, rgba(76, 175, 80, 0), rgba(175, 32, 223, 0.3));
}
.bar_gradient_green_light {
  background: linear-gradient(180deg, rgba(76, 175, 80, 0), rgba(118, 243, 147, 0.3));
}
.bar_gradient_light {
  background: linear-gradient(180deg, rgba(76, 175, 80, 0), rgba(150, 170, 187, 0.3));
}
.bar_gradient_black{
  background: linear-gradient(180deg, rgba(76, 175, 80, 0), rgba(33, 37, 41, 0.3));
}

.readonly {
  background-color: initial !important;
  border: 0 !important;
  color: #000 !important; }

.readonly:focus {
  border: 0 !important;
  box-shadow: none; }

.table { font-size: 12px; }
.table td, .table-sm td,
.table th, .table-sm th {
  padding: 2px 0 2px 0 !important; }

.table td, .table-sm td {
  font-size: 13px !important;
  vertical-align: middle !important; }

.table tr > .group { background-color: #d6e3ff; }

.table tr > .group > a { font-weight: bolder !important; }

/** TABLE FIXED HEADER */
.fixed-header {
  position: fixed;
  display: table;
  top: 40px;
  background: #ffffff;
  padding: 8px 0 0 0;
  font-size: 12px;
}
.fixed-header th { border-right: 1px solid #dee2e6!important; }
.fixed-header th:first-child { border-left: 1px solid #dee2e6!important; }
/** -- TABLE FIXED HEADER */

.show { display: none; }

.btn-link { cursor: pointer; }

.border-bottom { border-bottom: 1px solid #000 !important; }

.bars i {
  cursor: pointer;
  color: #f1f1f1; }

/* нумирация вложенных списков */
li
{
  list-style-type: none !important; /* Убираем нумерацию в браузерах Опера, Safari, Файер фох */
  list-style-type: decimal; /* Оставляем нумерацию в браузере ИЕ6 и ниже */
}

ol, li { margin-left: 10px; } /* делаем отступы */

ol { counter-reset: list1; } /* Список первого уровня */
ol ol { counter-reset: list2; } /* Список второго уровня*/
ol ol ol { counter-reset: list3; } /* Список третьего уровня*/

ol li:before  /* Список первого уровня */
{
  counter-increment: list1; /* Увеличиваем значение счетчика */
  content: counter(list1) ". "; /* Выводим значение в виде 1., 2.*/
}

ol ol li:before  /* Список второго уровня */
{
  counter-increment: list2; /* Увеличиваем значение счетчика */
  content: counter(list1) "." counter(list2) ". "; /* Выводим значение типа 2.1, 2.2,... */
}

ol ol ol li:before  /* Список второго уровня */
{
  counter-increment: list3; /* Увеличиваем значение счетчика */
  content: counter(list1) "." counter(list2) "." counter(list3) ". "; /* Выводим значение типа 2.1.1, 2.2.2,... */
}