<template>
    <div>
        <font-awesome-icon v-if="!isFullscreen" icon="expand-arrows-alt" size="lg"
          class="fa-compress" title="Развернуть на весь экран" @click="click" />
        <font-awesome-icon v-else icon="compress" size="lg"
          class="fa-compress" title="Свернуть в обычный режим" @click="click" />
    </div>
</template> 

<script>
import screenfull from 'screenfull'

export default {
    name: 'Screenfull',
    data() {
        return {
            isFullscreen: false
        }
    },
    mounted() {
        this.init()
    },
    beforeDestroy() {
        this.destroy()
    },
    methods: {
        click() {
            if ( !screenfull.isEnabled ) {
                //@TODO: set error message
                return false
            }
            screenfull.toggle()
        },
        change() {
            this.isFullscreen = screenfull.isFullscreen
        },
        init() {
            if (screenfull.isEnabled) {
                screenfull.on('change', this.change)
            }
        },
        destroy() {
            if (screenfull.isEnabled) {
                screenfull.off('change', this.change)
            }
        }
    }
}
</script>

<style scoped>
  .fa-compress {
    cursor: pointer;
    vertical-align: -12px;
    color: #fff;
  }
</style>
