<template>
    <div class="alert alert-secondary font-weight-bold">
        <div class="d-flex">
            <div class="mr-auto pt-2">
                Фильтр: 
                <b-link @click="btnClear" v-show="filterLocal.length > 0">
                    {{ filterLocal }} <span aria-hidden="true">&times;</span> 
                </b-link>
            </div>    

            <div class="mr-auto pt-2">
                 Отобрано записей {{selectRows}} из {{totalRows}}
            </div>
            <div>
                <b-button variant="outline-success" v-if="selectRows > 0" @click="toExcel">
                    <font-awesome-icon icon="file-excel" /> Excel
                </b-button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Filters',
    props: {
        strFilter: {
            type: String,
            default: ''
        },
        selectRows: {
            type: Number,
            default: 0
        },
        totalRows: {
            type: Number,
            default: 0
        },
    },
    data() {
        return {
            filterLocal: '',
        }
    },
    watch: {
        strFilter(val) {
             this.filterLocal = val
        }
    },
    beforeMount() {
        this.filterLocal = this.strFilter
    },
    methods: {
        btnClear() {
            this.filterLocal = ''
            this.$emit('clear')        
        },
        toExcel() {
            let tableId = document.getElementsByTagName('table')

            if ( tableId === undefined || tableId.length == 0 || tableId[0].id === undefined ) {
                // @TODO вывести сообщение об ошибке
                return null;
            }
            tableId = tableId[0].id

            let tHeader = document.getElementsByTagName('thead')
            if ( tHeader === undefined || tHeader.length == 0 || tHeader[0].innerText.length == 0 ) {
                tHeader = null
            } else {
                tHeader = tHeader[0].innerText.split('	')
            } 

            let fileName = ''
            let title = document.getElementsByTagName('h1')

            if ( title === undefined || title.length == 0 || title[0].innerText.length == 0 ) {}
            else {
                fileName = title[0].innerText
            }
            
            // import ('@/vendor/Export2Excel')
            // import('../../vendor/Export2Excel')
            //     .then( excel => {
            //         excel.export_table_to_excel({
            //             id: tableId,
            //             fileName: fileName,
            //             header: tHeader,
            //             autoWidth: true
            //         })
            //     })
        }
    }
}
</script>