<template>
    <div>
        <h1 class="text-center">{{title}}</h1>
        <filters :strFilter="strFilter" :selectRows="selectRows" :totalRows="totalRows" />
        <slot name="table"></slot>
    </div>
</template>

<script>
    import Filters from '@/components/table/Filters'

    export default {
        name: 'VTable',
        components: {
            Filters
        },
        props: {
            title: {
                type: String,
                required: true
            },
            strFilter: {
                type: String,
                default: ''
            },
            totalRows: {
                type: Number,
                default: 0
            },
            selectRows: {
                type: Number,
                default: 0
            }
        },
    }
</script>

<style scoped>

</style>